@import "../../assets/reset.less";

.header-warp {
  width: 100%;
  background: #fff;
  display: flex;
  font-size: 30px;
  .drawer {
    height: calc(100vh - 270px) !important;
  }
  .header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    .top {
      height: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .userInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        translate: 0 50px;
      }
      .flod {
        transform: translateX(-20px);
      }
      .mr40 {
        margin-right: 40px;
      }
      .ml40 {
        margin-left: 40px;
      }
    }
    .bottom {
      height: 80px;
    }
  }

  flex-flow: column nowrap;
  :global {
    .my-drawer {
      position: relative;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .my-drawer .am-drawer-sidebar {
   
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .my-drawer .am-drawer-sidebar .am-list {
      width: 300px;
      padding: 0;
    }
    .am-search {
      width: 400px;
      height: 60px;
      font-size: 24px;
      padding: 0;
      margin-left: 40px;
      background: transparent;
    }
    .am-search-value,
    .am-search-cancel {
      font-size: 24px !important;
    }
    .am-search-cancel {
      display: none;
    }
    .am-search-input {
      height: 60px;
      background: rgb(245, 242, 242);
    }
  }
}
