@import "../../assets/reset.less";

.header-warp {
  width: 100%;
  background: #fff;
  display: flex;
  font-size: 30px;
  .drawer{
    height: calc(100vh - 180px)!important;
  }
  .header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    .top {
      height: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .bottom {
      height: 80px;
    }
  }

  flex-flow: column nowrap;
  :global {
    .my-drawer {
      position: relative;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .my-drawer .am-drawer-sidebar {
      background-color: #fff;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .my-drawer .am-drawer-sidebar .am-list {
      width: 300px;
      padding: 0;
    }
  }
}
