@import "../../assets/reset.less";
.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  .header {
    width: 100%;
    background: #fff;
  }
  .main {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    
  }
  .no-scroll{
    overflow: hidden !important;
  }
  .footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: between;
  }

  :global {
    #components-layout-demo-custom-trigger .logo {
      height: 32px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }
  }
}
