@import "../../assets/reset.less";
.layout {
  :global {
    #components-layout-demo-custom-trigger .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
    }

    #components-layout-demo-custom-trigger .trigger:hover {
      color: #1890ff;
    }

    #components-layout-demo-custom-trigger .logo {
      height: 32px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }
    .ant-layout-content{
      
    }
  }
  .search{
    padding-top: 15px;
    box-sizing: border-box;
  }
  .header {

    background: "#fff";
    padding: 0;
  }
  .leftLayout {
    height: calc(100vh-64px);
    overflow: hidden;
  }
}
