.sildUserWarp {
  height: 100%;
  background: @sild-wrap-background;
  box-sizing: border-box;
}
.photoWrap {
  display: flex;
  justify-content: flex-start;
  flex-flow: nowrap column;
  width: 600px;
  padding: 40px 0 20px 40px;
  background: @sild-photo-wrap-background;

  .photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}
.info {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  padding-left: 40px;
  flex-flow: nowrap column;
  .userName,
  .balance {
    color: @sild-user-name-color;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
  }
  .balance {
    color: @sild-user-balance-color;
  }
}
.recharge {
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  height: 200px;
  flex-flow: column nowrap;
  .btn {
    margin-top: 30px;
    width: 550px;
    font-size: 24px;
  }
}

.slideList {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  .item {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    span {
      padding-left: 40px;
      color: @sild-user-list-color;
      &:before {
        color: @sild-user-list-color;
      }
    }
  }
}

.setting {
  display: flex;
  padding-left: 40px;
  justify-content: flex-start;
  align-items: center;
  height: 130px;
  span {
    padding-right: 60px;
    color: @sild-user-list-color;
    &:before {
      color: @sild-user-list-color;
    }
  }
}
