@import "../../assets/reset.less";

.drawer-warp {
  position: relative;
  .drawer {
    height: @main-height;
    overflow: hidden!important;
  }
  :global {
    .my-drawer {
      position: relative;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .my-drawer .am-drawer-sidebar {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .my-drawer .am-drawer-sidebar .am-list {
      width: 300px;
      padding: 0;
    }
  }
}
