.default-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 20px;
  .left {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-flow: nowrap column;
    .top {
      display: flex;
      justify-content: flex-start;
      .title {
        color: #000;
        font-size: 34px !important;
        margin-right: 20px;
      }
      .leftLabel {
        display: flex;
        justify-content: center;
        align-items: center;
        color: @recommend-rightlabel-color;
        background: @recommend-rightlabel-background-color;
        margin-right: 20px;
        height: 40px;
        width: 60px;
        font-size: 16px;
        border: 1px solid currentColor;
        border-radius: 4px;
      }
      .rightLabel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 60px;
        background: @recommend-leftlabel-background-color;
        font-size: 14px;
        margin-left: 20px;
        border: 1px solid @recommend-leftlabel-border-color;
        border-radius: 4px;
      }
    }
    .buttom {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 18px;
      height: 60px;
      .fire {
        color: #ee5e7b;
        display: flex;
        &:before {
          color: #ee5e7b;
          font-size: 40px;
        }
      }
      .yanjing{
        color: #faad14;
        display: flex;
        &:before {
          color: #faad14;
          font-size: 40px;
        }
      }
      .jingpin-{
        color:#0e80d2;
        display: flex;
        &:before {
          color: #0e80d2;
          font-size: 40px;
        }
      }
    }
  }
  .right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .close{
      font-size: 18px;
      &:before {
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  :global {
    .am-button-small {
      font-size: 16px;
      height: 40px;
      width: 80px;
      line-height: 0px;
      border-radius: 10px;
      padding: 0;
      span {
        line-height: 40px;
      }
    }
  }
}
