.default-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 20px;
  .left {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-flow: nowrap column;
  }
  .right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }
}
