.footer {
  width: 100%;
  font-size: 20px;
  color: @footer-color;
  span {
    &:before {
      color: @footer-color;
    }
  }
  :global {
    .am-tabs-tab-bar-wrap {
      height: 90px;
    }
    .am-tabs-default-bar-tab {
      line-height: inherit;
      padding: 0;
    }
    .am-tabs-default-bar-underline {
      display: none;
    }
  }
}

.active {
  color: @brand-primary!important;
  &:before {
    color: @brand-primary!important;
  }
}

.detailFooter {
  height: 80px;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  &.ceiling {
    // transform: translateY(-100px);
    height: 0;
    transform: translateY(80px);
  }
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      color: @footer-color;
      &:before {
        color: @footer-color;
      }
    }
  }
}
