.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-family: "iconfont" !important;
    display: block;
    height: 44px;
    width: 44px;
    font-size: 44px;
    color: #ccc;
  }
}



.icon-fire:before {
  content: "\e629";
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-hkquit:before {
  content: "\e61b";
}

.icon-gengxin:before {
  content: "\e611";
}

.icon-yanjing:before {
  content: "\e62c";
}

.icon-canpinhuihuiyuanv6-copy:before {
  content: "\e656";
}

.icon-single:before {
  content: "\e6bd";
}

.icon-canpinhuihuiyuanv1:before {
  content: "\e6d0";
}

.icon-canpinhuihuiyuanv2:before {
  content: "\e6d1";
}

.icon-canpinhuihuiyuanv3:before {
  content: "\e6d2";
}

.icon-canpinhuihuiyuanv4:before {
  content: "\e6d3";
}

.icon-canpinhuihuiyuanv5:before {
  content: "\e6d4";
}

.icon-bangzhu:before {
  content: "\e77c";
}

.icon-liulanjilu:before {
  content: "\e62f";
}

.icon-close:before {
  content: "\e612";
}

.icon-VIP:before {
  content: "\e688";
}

.icon-diandiandianshu:before {
  content: "\e679";
}

.icon-weidenglutouxiang:before {
  content: "\e62b";
}

.icon-liuyan:before {
  content: "\e60a";
}

.icon-icon-:before {
  content: "\e64c";
}

.icon-history:before {
  content: "\e607";
}

.icon-jingpin-:before {
  content: "\e600";
}

.icon-pifu:before {
  content: "\e743";
}

.icon-eye:before {
  content: "\e602";
}

.icon-eye1:before {
  content: "\e603";
}

.icon-close1:before {
  content: "\eb1f";
}

.icon-Downloadfolder:before {
  content: "\e68a";
}

.icon-back:before {
  content: "\e65e";
}

.icon-icon_night:before {
  content: "\e635";
}

.icon-dianzan:before {
  content: "\e644";
}

.icon-yonghu:before {
  content: "\e6c8";
}

.icon-zhedie:before {
  content: "\e643";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-shouye:before {
  content: "\e605";
}

.icon-setting:before {
  content: "\e785";
}

