.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-family: "iconfont" !important;
    display: block;
    height: 44px;
    width: 44px;
    font-size: 44px;
    color: #ccc;
  }
}

.icon-fire:before {
  content: "\e629";
}

.icon-gengxin:before {
  content: "\e611";
}

.icon-yanjing:before {
  content: "\e62c";
}

.icon-canpinhuihuiyuanv6-copy:before {
  content: "\e656";
}

.icon-canpinhuihuiyuanv1:before {
  content: "\e6d0";
}

.icon-canpinhuihuiyuanv2:before {
  content: "\e6d1";
}

.icon-canpinhuihuiyuanv3:before {
  content: "\e6d2";
}

.icon-canpinhuihuiyuanv4:before {
  content: "\e6d3";
}

.icon-canpinhuihuiyuanv5:before {
  content: "\e6d4";
}

.icon-bangzhu:before {
  content: "\e77c";
}

.icon-liulanjilu:before {
  content: "\e62f";
}

.icon-close:before {
  content: "\e612";
}

.icon-VIP:before {
  content: "\e688";
}

.icon-weidenglutouxiang:before {
  content: "\e62b";
}

.icon-icon-:before {
  content: "\e64c";
}

.icon-jingpin-:before {
  content: "\e600";
}

.icon-yonghu:before {
  content: "\e6c8";
}

.icon-zhedie:before {
  content: "\e643";
}

.icon-shouye:before {
  content: "\e605";
}