
* {
  box-sizing: border-box;
}

.modal-header {
  text-align: right;
  height: 44px;

  img {
    width: 60px;
    height: 60px;
    padding: 8px;
    position: relative;
    right: 4px;
    top: 4px;
  }
}

.modal-footer {
  background: #FDD329;
  border-radius: 24px;
  border-radius: 24px;
  font-family: PingFangSC-Regular;
  font-size: 36px;
  color: #212934;
  letter-spacing: 0;
  height: 98px;
  line-height: 98px;
  text-align: center;
}

.modal-content {
  background: #FFFFFF;
  border-radius: 24px;
  padding: 24px;
  font-family: PingFangSC-Regular;
  font-size: 28px;
  color: #7A7F85;
  letter-spacing: 0;
  text-align: center;

  p {
    font-family: PingFangSC-Regular;
    font-size: 36px;
    color: #212934;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 24px;
  }

  .content-body {
    padding-bottom: 72px;

  }

}

.modal-logo {
  text-align: center;
  height: 168px;

  img {
    width: 168px;
    height: 168px;
  }
}

.additionalModules {
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: #3D6BFA;
  letter-spacing: 0;
  text-align: center;
  margin-top: 32px;

  >div {
    line-height: 45px;
    height: 45px;
  }
}
